
  button {
    margin: 10px;
    line-height: 20px;
    font-weight: bold;
    background: lightblue;
    border: none;
  }
  button:hover {
    background: lightsalmon;
  }

 .strikethrough{
     text-decoration: line-through;
 }
 input[type=text] {
    border: 5px orange;
    background-color: salmon;
    color: white;
    width: 100px;
    height: 20px;
  }

 .ToDos{
    margin-left:20%;
    background-color: lavender;
 }
 *{
     background-color: lavender;
 }
 .adding{
     margin-left: 40%;
 }

 
  
  ul {
    background: #ff9999;
    padding: 20px;
    width: 700px;
    list-style: none;
  }
  

  
  ul li {
    background: #ffe5e5;
    margin: 5px;
  }
 @media (max-width: 1000px) {
   .hello{
     visibility: hidden;
    }
    #ToDo{
        position: relative;
        right: 150px;
    }
    .ToDos{
        position: relative;
        right: 100px;
    }
    
  }